@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "إصدار";
}

<h2 class="text-center mb-4">خدمة الإصدار</h2>

<div class="services-grid">

    <div class="service-card animate-card">
        <h2>إصدار هوية جديدة</h2>
        <a href="/Issue/NewID"><button class="btn btn-primary">إصدار هوية</button></a>
    </div>

    <div class="service-card animate-card">
        <h2>إصدار جواز سفر</h2>
        <a href="/Issue/Passport"><button class="btn btn-primary">جواز سفر</button></a>
    </div>

    <div class="service-card animate-card">
        <h2>إصدار تأشيرة</h2>
        <a href="/Issue/Visa"><button class="btn btn-primary">تأشيرة</button></a>
    </div>

</div>
