@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "نجاح";
}
<h2>تم التحقق بنجاح</h2>

<div class="form-card">
    <p>تم التحقق من بصمة الوجه والأصبع بنجاح.</p>
    <p>سيتم إصدار المستند خلال 1-2 يوم عمل.</p>

    <a href="/Home/Services"><button class="btn btn-primary">العودة إلى الخدمات</button></a>
</div>