@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "الرئيسية";
}
<div class="landing">
    <h1>أبشر أَمْن</h1>
    <div>
        <a href="/Home/Services"><button class="btn-enter">أدخل للخدمة</button></a>
    </div>
</div>